<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo15</title>
    <link rel="stylesheet" href="style/style1.css"/>
</head>
<body>

<div id="app">
    <table>
        <tr>
            <th colspan="3">父组件数据</th>
        </tr>
        <tr>
            <td>name</td>
            <td>{{name}}</td>
            <td><input type="text" v-model="name"/></td>
        </tr>
        <tr>
            <td>age</td>
            <td>{{age}}</td>
            <td><input type="text" v-model="age"/></td>
        </tr>
    </table>

    <!-- 2.0 去掉了 v-bind.sync  和 .once  还有 过滤器 filterKey -->
    <my-component v-bind:my-name="name" v-bind:my-age="age"></my-component>
</div>


<template id="myComponent">
    <table>
        <tr>
            <th colspan="3">子组件数据</th>
        </tr>
        <tr>
            <td>my name</td>
            <td>{{myName}}</td>
            <td><input type="text" v-model="myName"/></td>
        </tr>
        <tr>
            <td>my age</td>
            <td>{{myAge}}</td>
            <td><input type="text" v-model="myAge"/></td>
        </tr>
    </table>
</template>

</body>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            name: 'geng',
            age: 23
        },
        components: {
            'my-component': {
                template: '#myComponent',
                props: ['myName', 'myAge']
                // prop 默认是 单项绑定，1.0 添加 v-bind.sync 支持双向绑定，
                // 2.0 Props 现在只能单向传递。
            }
        }
    })
</script>
</html>